.row {
	margin: 0px;
}

#stashInfo {
	text-align: right;
	font-size: 30px;
}

.playingCard{
	border-style: solid;
	border-color: grey;
	border-width: 2px;
	display: inline-block;
	height: 180px;
	width: 140px;
	font-size: 55px;
	margin: 1%;
	padding: 4px;
	text-align: left;
	vertical-align: middle;
	border-radius: 10px;
}

.dealerCard{
	border-style: solid;
	border-color: grey;
	border-width: 2px;
	display: inline-block;
	height: 180px;
	width: 140px;
	font-size: 55px;
	margin: 1%;
	padding: 4px;
	text-align: left;
	vertical-align: middle;
	border-radius: 10px;
  	background-image: linear-gradient(45deg, grey 25%, transparent 25%), linear-gradient(-45deg, grey 25%, transparent 25%), linear-gradient(45deg, transparent 75%, grey 75%), linear-gradient(-45deg, transparent 75%, grey 75%);
  	background-size: 10px 10px;
  	background-position: 0 0, 0 5px, 5px -5px, -5px 0px;
}

button {
	padding: 1%;
	margin: 1%;
	border-color: grey;
	min-width: 100px;
	height: 60px;
	display: inline-block;
}

.infoArea {
	font-size: 25px;
	height: 50px;
	display: inline-block;
	margin:3px;
}

#FAQ {
	border-style: solid;
	border-color: grey;
	border-width: 2px;
	border-radius: 10px;
	padding: 3px;
	margin: 5px;
}

h3 {
	text-align:center;
}

h5 {
	text-align: center;
	text-decoration: underline;
}
h6 {
	padding: 0 0 5px 0;
}